<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>StationName</key>
		<string>南港展覽館</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>板南線</string>
			<key>LineCode</key>
			<string>BL23</string>
		</dict>
		<key>Lines 2</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR24</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>南港軟體園區</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR23</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>東湖</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR22</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>葫洲</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR21</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>大湖公園</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR20</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>內湖</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR19</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>文德</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR18</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>港墘</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR17</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>西湖</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR16</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>劍南路</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR15</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>大直</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR14</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>松山機場</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR13</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>中山國中</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR12</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>南京復興</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR11</string>
		</dict>
		<key>Lines 2</key>
		<dict>
			<key>LineName</key>
			<string>松山新店線</string>
			<key>LineCode</key>
			<string>G16</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>忠孝復興</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR10</string>
		</dict>
		<key>Lines 2</key>
		<dict>
			<key>LineName</key>
			<string>板南線</string>
			<key>LineCode</key>
			<string>BL15</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>大安</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR09</string>
		</dict>
		<key>Lines - 2</key>
		<dict>
			<key>LineName</key>
			<string>淡水信義線</string>
			<key>LineCode</key>
			<string>R05</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>科技大樓</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR08</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>六張犁</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR07</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>麟光</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR06</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>辛亥</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR05</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>萬芳醫院</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR04</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>萬芳社區</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR03</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>木柵</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR02</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string>動物園</string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string>文湖線</string>
			<key>LineCode</key>
			<string>BR01</string>
		</dict>
		<key>Lines 2</key>
		<dict>
			<key>LineName</key>
			<string>貓空纜車</string>
			<key>LineCode</key>
			<string>MG01</string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>StationName</key>
		<string></string>
		<key>Lines</key>
		<dict>
			<key>LineName</key>
			<string></string>
			<key>LineCode</key>
			<string></string>
		</dict>
	</dict>
</array>
</plist>
